<div class="container">
  <div class="header-bet-history">
    <div class="col-xs-12">
      <div class="bet-info">
        <p>Total Bets: </p>
        <h3> <%= current_user.bet_users.all.size %></h3>
        <p>Longest Parlay: </p>
        <h3> 6 </h3>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="bet-info">
        <p>Total Parlays: </p>
        <h3><%= current_user.parlays.size %></h3>
        <p>Total Wins: </p>
        <h3> <%= @wins.size %></h3>

      </div>
    </div>
  </div>

<hr>

