

<div class = "container-fluid">
 <div class = "header">
  <div class = "header-title">
    <h1>Select a sport</h1>
  </div>
 </div>

  <div class = "row">
    <% @sports.each do |sport| %>
      <%=link_to events_path(sport: sport.name) do %>
        <div class="col-xs-12">
          <div class="card-sport">
            <%= sport.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class = "bfixed">
    <a href="www.corriere.it" >CURRENT BETS: 0 </a>
  </div>

<%# final end%>

</div>


