.events-header-wrapper {
  background-color: #07DCA6;
  padding: 20px;
  text-align: center;
  height: 130px;
  color: #061223;
  margin-bottom: 20px;
}

.events-header-wrapper h1{
  margin-top: 10px;
}
