<head>
  <title>Profile | Bet On It</title>
</head>


<div class="animation" >
</div>
<% if !current_user %>
  <div class="cheat-vh"></div>
<% end %>
<div class="banner" >

      <div class="banner-title">

        <div class="banner-content">
            <h1>Bet On It</h1>
            <h4>Risk nothing... win daily</h4>
        </div>

          <div class="banner-button">
            <p> <%= link_to "Start playing", sport_path, class: "btn btn-primary btn-green" %></p>
          </div>

            <div class="banner-bottom">
              <% if !current_user %>
                <h5>Already winning?</h5>
              <% end %>
            </div>

            <div class="sign-in-link">
                  <% if !current_user %>
                    <%= link_to "Sign in", new_user_session_path %>
                  <% end %>
            </div>

       <!-- Ending Div for banner-title -->
        </div>
  <!-- Ending Div for banner -->
    </div>

<!-- REFERENCE -- sport_path:
 sport      GET    /sport(.:format)   sports#index -->
