

<div class="animation" >
</div>

<div class="banner" >

      <div class="banner-title">

        <div class="banner-content">
            <h1>Bet On It</h1>
            <h4>Risk nothing... win daily</h4>
        </div>

          <div class="banner-button">
            <p> <%= link_to "Start playing", sport_path, class: "btn btn-primary btn-green" %></p>
          </div>

            <div class="banner-bottom">
              <h5>Already winning?</h5>
            </div>

            <div class="sign-in-link">
                 <%= link_to "Sign in", new_user_session_path %>
            </div>

       <!-- Ending Div for banner-title -->
        </div>
  <!-- Ending Div for banner -->
    </div>

<!-- REFERENCE -- sport_path:
 sport      GET    /sport(.:format)   sports#index -->
