<div class = "container-fluid" style = "background-color: #061223; height: 100vh">



    <div class="row flexbox" style = "border-bottom: 2px solid #07DCA6; height:250px">
      <div class="col-xs-6 " >
      <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
     </div>

      <div class = "col-xs-6">

           <div class = "col-xs-6 title" >
           <p>  WINS  </p>
           <h3> <%= @wins.size %> </h3>

          </div>
          <div class = "col-xs-6 title">
          <p>  RANKING <p>
            <h3> 100 </h3>
          </div>
          <div class = "col-xs-12 title">
           <p>  TOTAL WINNINGS </p>
          <h3> 1 </h3>
          </div>
      </div>

    </div>
  <div class="row" >
     <div class= "col-xs-6 infostyle ">
      <i class="fas fa-info inlinelement" style = "color: #07DCA6"></i>

          <p class="inlinelement">Account info </p>

        </div >
         <div class="col-xs-6 infostyle">

           <i class="fas fa-history inlinelement" style = "color: #07DCA6"></i>
           <%= link_to "Bet History",parlays_index_path,class: "inlinelement" %>

      </div>
       <div class="col-xs-6 infostyle">
        <i class="fas fa-trophy inlinelement" style = "color: #07DCA6"></i>
        <p class="inlinelement">Leaderbord </p>
      </div>


<div class="col-xs-6 infostyle">
   <a href="users/sign_out" >
        <i class="fas fa-sign-out-alt" style = "color: #07DCA6"></i>
         <p class="inlinelement">Logout </p>
 </div>

      </div>


       <div class="col-xs-12" style ="height: 100px">
         <a href="/sport" >
         <div class = "betnow" style="margin-top:80px">
    BET NOW!
  </div>
  </a>
      </div>
  </div>
  </div>
   <div>


   </div>
</div>
