<div class = "container-fluid" style = "background-color: #061223">



    <div class="row flexbox" style = "border-bottom: 2px solid #07DCA6; height:200px ">
      <div class="col-xs-6 " >
      <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
     </div>

      <div class = "col-xs-6" ">

           <div class = "col-xs-6 title" >
           <p>  WINS  </p>
           <h1> 10 </h1>
          </div>
          <div class = "col-xs-6 title">
          <p>  RANKING <p>
            <h1> 100 </h1>
          </div>
          <div class = "col-xs-12 title">
           <p>  TOTAL WINNINGS </p>
           <h1> 1.000.000 $ </h1>
          </div>
      </div>

    </div>
  <div class="row" >
     <div class= "col-xs-12 infostyle ">
      <i class="fas fa-info inlinelement" style = "color: #07DCA6"></i>

          <p class="inlinelement">Account info </p>

        </div >
         <div class="col-xs-12 infostyle">

           <i class="fas fa-history inlinelement" style = "color: #07DCA6"></i>
           <%= link_to "Bet History",parlay_index_path,class: "inlinelement" %>

      </div>
       <div class="col-xs-12 infostyle">
        <i class="fas fa-trophy inlinelement" style = "color: #07DCA6"></i>
        <p class="inlinelement">Leaderbord </p>
      </div>



       <div class="col-xs-12 infostyle">
         <a href="/sport" >
         <div class = "betnow">
    BET NOW!
  </div>
  </a>
      </div>
  </div>
  </div>
   <div>


   </div>
</div>
