
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">

</head>
<body>

<div class = "container-fluid" style = "background-color: #061223">



    <div class="row" style = "border-bottom: 2px solid #07DCA6">
      <div class="col-xs-6 " >
      <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
     </div>

      <div class = "col-xs-6" ">

           <div class = "col-xs-6 title" >
           <p>  WINS  </p>
           <h1> 10 </h1>
          </div>
          <div class = "col-xs-6 title">
          <p>  RANKING <p>
            <h1> 100position </h1>
          </div>
          <div class = "col-xs-12 title">
           <p>  TOTAL WINNINGS </p>
           <h1> 1.000.000 dollars </h1>
          </div>
      </div>

    </div>
  <div class="row" style = "border-bottom: 2px solid #07DCA6">
     <div class= "col-xs-12 infostyle">
      <i class="fas fa-info" style = "color: #07DCA6"></i>
          <p>Account info </p>
        </div >
         <div class="col-xs-12 infostyle">

           <i class="fas fa-history" style = "color: #07DCA6"></i>
           <p>Bet History </p>
      </div>
       <div class="col-xs-12 infostyle">
        <i class="fas fa-trophy" style = "color: #07DCA6"></i>
        <p>Leaderbord </p>
      </div>



       <div class="col-xs-12 infostyle">
         <div class = "bfixed">
    <a href="www.corriere.it" > BET NOW! </a>
  </div>
      </div>
  </div>
  </div>
   <div>


   </div>
</div>
</body>
</html>
