
.animation {
  z-index: -100;
  position: fixed;
  width: 100%;
  height: 100vh;
  color: #fff;
  background:  linear-gradient(-45deg, rgba(104, 195, 172, 0.4) 0%, rgba(6, 18, 35, 70%)), url('<%= image_url home-page-banner %>') 50% no-repeat;
  background-size: 400% auto, cover;
  animation: Gradient 16s ease infinite;
  animation: bgrad 7s infinite alternate linear;
  filter: blur(3px);
}

// 'https://i.pinimg.com/originals/e1/11/9d/e1119d01d80a44c9e1deacda9dde00cd.jpg'

// Original colors: linear-gradient(-45deg, rgba(6, 195, 147, 0.6) 0%, rgba(6, 18, 35, 60%))

@keyframes bgrad {
  to {
    background-position:right, center;
  }
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

