.bet-slip-title {
  height: 15%;
  vertical-align: middle;
  background-color: #07DCA6;
  color: #061223;
  margin: 0;
    h6 {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: .5px;
  }
    p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  font-size: 18px;
  letter-spacing: .5px;
  }

}

.parlay-wrapper {
  display: center;
  background-color: #E3E3E3;
}

.summary {
  background-color: #e3e3e3;
  height: 90px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 14px;
    .date-col {
      display: flex;
      justify-content: space-around;
    }
    .details-col {
      display: flex;
      font-size: 12px;
      padding-left: 34px;
    }
    p {
      margin: 0;
      font-size: 18px !important;
      color: #061223;
      font-weight: bold;
  }
}

.summary2 {
  background-color: #e3e3e3;
  height: 90px;
  margin-bottom: 6px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
    p {
      margin: 0;
      font-size: 18px !important;
      color: #061223;
      font-weight: bold;
  }
}


.info-container{
  margin-top: -68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.control-container{
  display: flex;
  flex-direction: column;
}

.cancel-bet {
  a {
  color: #061223;
  font-size: 29px;
  margin: 7px;
  padding: 5px;
  padding-left: 10px;
  background-color: #E3E3E3;
  border-radius: 15%;
  height: 38px;
  width: 38px;
  }
}

.edit-bet a {
  display: flex;
  align-items: center;
  color: #061223;
  font-size: 25px;
  margin: 7px;
  padding: 7px;
  background-color: #E3E3E3;
  border-radius: 15%;
  height: 38px;
  width: 38px;
}

.card {
  position: relative;
  color: black;
  background-color: white;
  margin-bottom: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 3px 2px 8px #acacac;
    p {
      margin: 1px;
      font-size: 18px;
      font-weight: bold;
    }

}

.card-state{
  width: 6px;
  height: 179px;
  top: 0;
  left: 0;
  position: absolute;
}

#red-card{
  background-color: red;
}

#green-card{
  background-color: $green;
}

#red--text{
  color: red;
  border-color: red;
}

#green--text{
  color: $green;
  border-color: $green;
}

#date-margin {
  margin-left: 19px;
  color: $blue;
}


.top-column {
  color: $blue;
  display: flex;
  justify-content: space-between;
  width: 96%;
  padding-left: 15px;
  padding-right: 15px;
  height: 104px;
  margin-top: 6px;
    p {
      color: $blue;
      font-size: 14px;
      font-weight: bold;
    }
}

.team-a {
  margin-top: 6px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-score {
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  color: $blue;
}

.your-bet {
  a {
    color: #07DCA6
  }
  p {
  margin: 12px;
  margin-bottom: 20px;
  border: 1px;
  color: $green;
  border-style: solid;
  border-color: #07DCA6;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: bolder;
  }
}

.red-text {
  color: red !important;
  font-size: large;
  font-weight: bold;
}

.black-text {
  color: black;
  font-size: large;
  font-weight: bold;
}

.bottom-margin{
  margin-bottom: 70px;
}

