.parlay-wrapper{
  display: center;
  background-color: black;
  width: 300px;
}

.bet-container{
  background-color: green;
}

.game-info{
  display: flex;
  background-color: red;
}

.team-container{
  display: flex;
  background-color: white;
}

.bet-wrapper{
  display: flex;
}

.green-text{
  color: green;
}

.red-text{
  color: red;
}

.blak-text{
  color: black;
}
