.bfixed {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width:50%;

  bottom: 5px;
  text-align: center;
  border-radius: 3px;
  border-style: solid ;
  border-width: 2px;
  border-color: #07DCA6;
  background-color: #07DCA6;

  color: #061223;
  padding: 15px 20px;
  text-decoration: none;

  font-size: 15px;

  }



  .bfixed a:link{
    color: #061223;
  }


  .bfixed a:visited{
    color:black;
  }


.green-tab {
    position: fixed;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    background-color: #07DCA6;
    height: 12px;
    text-align: center;
    border: none;
  }
.white-blur {
  position: fixed;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
  width:100%;
  height: 68px;
  text-align: center;
  border: none;
  background-color: black;
  opacity: 0.4;
  font-size: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.88+21,0.97+30,1+39 */
}
#btn-back{
  position: fixed;
  top: 15px;
  left: 35px;
}

#btn-up{
  transform: rotate(90deg);
  position: fixed;
  top: 15px;
  right: 35px;
}
i.fa-chevron-left:before {
  color : white;
}

