.container-event {
  margin-bottom: 40px;
}

.league-container h5{
  color: white;
  margin-left: 4px;
}

.teams-button-container {
  padding: 5px;
}

.event-card-white {
  background-color: white;
  padding: 20px;
  padding-top: 5px;
  color: $blue;
  font-size: 20px;
  h5 {
    font-size: 20px;
  }
}

.event-card-grey {
  margin-bottom: 1px;
  border-radius: 2px;
  background-color: #061223e3;
  padding: 20px;
  padding-top: 5px;
  color: $blue;
  font-size: 20px;
  h5 {
    font-size: 20px;
  }
}



.league-name {
  margin-left: 5px;
  font-size: 24px;
  margin-bottom: 5px;
  color: $blue;
}

.date-time{
  margin-top: 5px;
  margin-left: 4px;
  font-size: 15px;
  font-style: italic;
  color: white;
}

.league-container{
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
}


// .btn-link-team










// a:link {
//     text-decoration: none;
// }

// a:visited {
//     text-decoration: none;
// }

// a:hover {
//     text-decoration: none;
// }

// a:active {
//     text-decoration: underline;
// }
