
.teams-button-container {
  padding: 5px;
}

.event-card-white {
  background-color: white;
  margin-bottom: 30px;
  padding: 20px;

}

.event-card-grey {
  background-color: #C4C4C4;
  margin-bottom: 30px;
  padding: 20px;

}



.league-name {
  margin-left: 5px;

}



// .btn-link-team










// a:link {
//     text-decoration: none;
// }

// a:visited {
//     text-decoration: none;
// }

// a:hover {
//     text-decoration: none;
// }

// a:active {
//     text-decoration: underline;
// }
