.container-event {
  margin-bottom: 40px;
}


.teams-button-container {
  padding: 5px;
}

.event-card-white {
  background-color: white;
  padding: 20px;
  color: $blue;
  font-size: 20px;
  h5 {
    font-size: 20px;
  }
}

.event-card-grey {
  background-color: #C4C4C4;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
  color: $blue;
  font-size: 20px;
  h5 {
    font-size: 20px;
  }
}



.league-name {
  margin-left: 5px;
  font-size: 24px;
  margin-bottom: 5px;
  color: $blue;
}

.date-time{
  margin-top: 5px;
  font-size: 18px;
  font-style: italic;

}

.league-container{
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  margin-bottom: 20px;
  padding: 20px;
}


// .btn-link-team










// a:link {
//     text-decoration: none;
// }

// a:visited {
//     text-decoration: none;
// }

// a:hover {
//     text-decoration: none;
// }

// a:active {
//     text-decoration: underline;
// }
