.header-bet-history {
  background-color: #07DCA6;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  color: #061223;
  display: flex;
  width: 100%;
    p {
  font-size: 18px;
  }

    h3 {
  margin: 4px;
  font-size: 32px;
  }
}
